@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: 'Arounder';
    src: url('assets/fonts/Arounder.otf') format('otf');
}

body {
    font-family: 'Arounder', sans-serif;
    @apply bg-[#232527];
}

@layer utilities {
    .shadow-neomorph-inset {
        box-shadow:
            inset 2px 2px 4px rgba(0, 0, 0, 0.25),
            inset -2px -2px 4px rgba(255, 255, 255, 0.25);
    }
}
