@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: 'Arounder';
    src: url('assets/fonts/Arounder.otf') format('otf');
}

body {
    font-family: 'Arounder', sans-serif;
    @apply bg-[#232527];
}

@layer utilities {
    .shadow-neomorph-inset {
        box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25),
        inset -2px -2px 4px rgba(255, 255, 255, 0.25);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fade-in-up 3s ease-out;
}

@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    }
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.pulse-text {
    animation: pulse-text 2s ease-in-out infinite;
}

.glow-text {
    animation: glow 1.5s ease-in-out infinite;
}

